body{
    display: block;
    text-align: center;
}
label{
    display: block;
    padding: 15px;
    text-align: center;
}
.container{
    background-color: red;
    margin:  0px 600px;
    display: block;
    text-align: center;
    border-radius: 30px;
}
button{
    display: block;
background-color: blue;
    margin: 40px;
}
